.header {
  color : white;
  text-align: center;
}
.black {
  background-color: black;
  color: white;
  height: 10000px;
  width: 100%;
}
.room {
  border: none;
  background-color: black;
  height: 10000px;
  width: 100%;
}
.word {
  color: white;
  margin-left: 5%;
  margin-top: 15%;
}
.word-description{
  width: 35%;
  height: 150px;
}

.word .btn{
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 13%;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.word .btn:hover {
  background-color: black;
  color: white;
}

.backButton {
  position: absolute;
  top: 62px;
  left: 80px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: green;
  font-size: x-large;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}
.players {
  /*padding-top: 50px;*/
}

.players-title {
  font-size: 40px;
  color: #f1f1f1;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-left: 65%;
  padding-bottom: 20px;
}

.line {
  height:1px;
  /*width: 50px;*/
  border-width:0;
  color: rgba(95, 93, 93, 0.44);
  background-color: rgba(95, 93, 93, 0.44);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50%;
  margin-right: 10%;
}
.separate-room {
  /*width: 20%;*/
  margin-left: 52%;
  color: white;
  font-size: 25px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}
