<div class="first">
<mat-card class="card">
  <h1 class="title">WELCOME</h1>

  <form [formGroup]="loginForm">
    <a>Email</a>
    <div class="elem1">
      <mat-form-field class="field" appearance="fill">
        <input matInput formControlName="email">
      </mat-form-field>
    </div>

    <a>Password</a>
    <div class="elem">
      <mat-form-field class="field" appearance="fill">
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>
  </form>

  <button mat-raised-button class="login-button" (click)="onClick()"> Log in </button>

  <div class="crateAccountButton">
    <a mat-button class="createAccount" (click)="clickCreate()">Create a new account</a>
  </div>
  <a class="errorMessage">{{message}}</a>

</mat-card>
</div>
